#main > #content > .contextual > a.icon.new-issue {
  background: green;
  color: white;
  font-size: 1.3rem;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 200ms;
  &:hover {
    background: #109e13;
    box-shadow: 1px 1px 3px #ddd;
  }
  &:before {
    font-size: 1rem;
  }
}


#principals_for_new_member {
  #principals {
    column-count: 6;
  }
  label {
    display: block;
  }
}
